body {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRIkR_eJeAIjSxzuPKiy1XoLK-Ftwy5pb28T1-AXxpDmQ&s");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    text-align: center;
}